<link rel="stylesheet" type="text/css" href="/css/windows/ground.css">
<link rel="stylesheet" type="text/css" href="/css/assets/charactors.css">


<div class="ground_table">
  <div class="ground_row">
    <div class="ground_cell">
      
    </div>
    <div class="ground_cell">
      
    </div>
    <div class="ground_cell">
      
    </div>
    <div class="ground_cell">
      
    </div>
    <div class="ground_cell">
      
    </div>
  </div>

  <div class="ground_row">
    <div class="ground_cell">
      
    </div>
    <div class="ground_cell">
      
    </div>
    <div class="ground_cell">
      
    </div>
    <div class="ground_cell">
      
    </div>
    <div class="ground_cell">
      
    </div>
  </div>

  <div class="ground_row">
    <div class="ground_cell">
      
    </div>
    <div class="ground_cell">
      <div class="ground_creature">
        <div class="creature_img">
          <img src="/img/oryx/img_trans.gif" id="avatar"></img>
          <img src="/img/oryx/img_trans.gif" id="weapon"></img>
        </div>
        <progress class="health_bar" max="100" value="43"></progress>
        <progress class="balance_bar" max="100" value="85"></progress>
        <div class="states">
          <span class="state_icon"></span>          
          <span class="state_icon"></span>          
          <span class="state_icon"></span>          
        </div>
      </div>
    </div>
    <div class="ground_cell">
      
    </div>
    <div class="ground_cell">
      
    </div>
    <div class="ground_cell">
      
    </div>
  </div>

  <div class="ground_row">
    <div class="ground_cell">
      
    </div>
    <div class="ground_cell">
      
    </div>
    <div class="ground_cell">
      
    </div>
    <div class="ground_cell">
      
    </div>
    <div class="ground_cell">
      
    </div>
  </div>

  <div class="ground_row">
    <div class="ground_cell">
      
    </div>
    <div class="ground_cell">
      
    </div>
    <div class="ground_cell">
      
    </div>
    <div class="ground_cell">
      
    </div>
    <div class="ground_cell">
      
    </div>
  </div>

</div>

