<link rel="stylesheet" type="text/css" href="/css/windows/ground.css">


<div class="ground_table">
  <div class="ground_row">
    <div class="ground_cell">
      
    </div>
    <div class="ground_cell">
      
    </div>
    <div class="ground_cell">
      
    </div>
    <div class="ground_cell">
      
    </div>
  </div>

  <div class="ground_row">
    <div class="ground_cell">
      
    </div>
    <div class="ground_cell">
      
    </div>
    <div class="ground_cell">
      
    </div>
    <div class="ground_cell">
      
    </div>
  </div>

  <div class="ground_row">
    <div class="ground_cell">
      
    </div>
    <div class="ground_cell">
      <div class="ground_creature">아아아</div>
    </div>
    <div class="ground_cell">
      
    </div>
    <div class="ground_cell">
      
    </div>
  </div>

  <div class="ground_row">
    <div class="ground_cell">
      
    </div>
    <div class="ground_cell">
      
    </div>
    <div class="ground_cell">
      
    </div>
    <div class="ground_cell">
      
    </div>
  </div>

  <div class="ground_row">
    <div class="ground_cell">
      
    </div>
    <div class="ground_cell">
      
    </div>
    <div class="ground_cell">
      
    </div>
    <div class="ground_cell">
      
    </div>
  </div>

</div>

