<link rel="stylesheet" type="text/css" href="/css/windows/ground.css">


<div class="ground_table">
  <div class="ground_row">
    <div class="ground_cell">
      
    </div>
    <div class="ground_cell">
      
    </div>
    <div class="ground_cell">
      
    </div>
    <div class="ground_cell">
      
    </div>
    <div class="ground_cell">
      
    </div>
  </div>

  <div class="ground_row">
    <div class="ground_cell">
      
    </div>
    <div class="ground_cell">
      
    </div>
    <div class="ground_cell">
      
    </div>
    <div class="ground_cell">
      
    </div>
    <div class="ground_cell">
      
    </div>
  </div>

  <div class="ground_row">
    <div class="ground_cell">
      
    </div>
    <div class="ground_cell">
      <div class="ground_creature">
        <span class="creature_img">@</span>
        <progress class="health_bar" max="100" value="43"></progress>
        <progress class="balance_bar" max="100" value="85"></progress>

      </div>
    </div>
    <div class="ground_cell">
      
    </div>
    <div class="ground_cell">
      
    </div>
    <div class="ground_cell">
      
    </div>
  </div>

  <div class="ground_row">
    <div class="ground_cell">
      
    </div>
    <div class="ground_cell">
      
    </div>
    <div class="ground_cell">
      
    </div>
    <div class="ground_cell">
      
    </div>
    <div class="ground_cell">
      
    </div>
  </div>

  <div class="ground_row">
    <div class="ground_cell">
      
    </div>
    <div class="ground_cell">
      
    </div>
    <div class="ground_cell">
      
    </div>
    <div class="ground_cell">
      
    </div>
    <div class="ground_cell">
      
    </div>
  </div>

</div>

